<div class="container">
  <div class="template">
    <div class="jumbotron">
      <h1>Clientes</h1>
      <p>Bienvenido, presione registrar para ingresar un nuevo cliente.</p>
      <hr class="my-4">
      <p class="lead">
        <a class="btn btn-primary btn-lg" routerLink="/registration" role="button">Registrar</a>
      </p>
    </div>
  </div>
</div>
