<div class="container">
  <div class="text-left">
    <button type="submit" class="btn btn-primary" (click)="onNew()">Agregar Nuevo</button>
  </div>
  <br>
  <div class="regentry" *ngIf="showNew">
    <form (ngSubmit)="onSave()">
      <div class="form-group row">
        <label for="id_number" class="col-2 col-form-label">Documento</label>
        <div class="col-10">
          <input class="form-control" type="text" [(ngModel)]="customer.id_number" name="id_number">
        </div>
      </div>
      <div class="form-group row">
        <label for="first_name_1" class="col-2 col-form-label">Primer nombre</label>
        <div class="col-10">
          <input class="form-control" type="text" [(ngModel)]="customer.first_name_1" name="first_name_1">
        </div>
      </div>
      <div class="form-group row">
        <label for="first_name_2" class="col-2 col-form-label">Segundo nombre</label>
        <div class="col-10">
          <input class="form-control" type="text" [(ngModel)]="customer.first_name_2" name="first_name_2">
        </div>
      </div>
      <div class="form-group row">
        <label for="last_name_1" class="col-2 col-form-label">Primer apellido</label>
        <div class="col-10">
          <input class="form-control" type="text" [(ngModel)]="customer.last_name_1" name="last_name_1">
        </div>
      </div>
      <div class="form-group row">
        <label for="last_name_2" class="col-2 col-form-label">Segundo apellido</label>
        <div class="col-10">
          <input class="form-control" type="text" [(ngModel)]="customer.last_name_2" name="last_name_2">
        </div>
      </div>
      <button type="submit" class="btn btn-success">{{submitType}}</button>
    </form>
  </div>
  <br>
  <hr>
  <div class="reglist">
    <div class="text-center"><h4>Listado de clientes</h4></div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Documento</th>
          <th>Primer nombre</th>
          <th>Segundo nombre</th>
          <th>Primer apellido</th>
          <th>Segundo apellido</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customerItem of listCustomers">
          <th>{{ customerItem.id_number }}</th>
          <td>{{ customerItem.first_name_1}}</td>
          <td>{{ customerItem.first_name_2}}</td>
          <td>{{ customerItem.last_name_1 }}</td>
          <td>{{ customerItem.last_name_2 }}</td>
          <td>
            <button type="button" class="btn btn-info" (click)="onEdit(customerItem.id)">Editar</button>
            <button type="button" class="btn btn-danger" (click)="onDelete(customerItem.id)">Borrar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
